
.AccordionRoot{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 40ch), 1fr));
    place-items: center;
    gap: 10px; 
    margin-block-end: 60px;
  }
  
  .AccordionItem {
    max-width: 413px;
    width: 100%;
    overflow: hidden;
    margin-block-end: 11px;
  }
  
  
  .AccordionItem:focus-within {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 0 2px var(--mauve-12);
  }
  
  
  .AccordionTrigger {
    cursor: pointer;
    padding-block: 14px;
    padding-inline: 30px;
    border-radius: 24px;
    background: var(--white, #FFF);
    border: 3px solid var(--gray, #ECEFF5);
    width: 100%;
    color: var(--black, #262626);
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .AccordionContent {
    overflow: hidden;
    color: var(--title, #131414);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 174.4%;
    border-radius: 15px;
  }
  .AccordionContent[data-state='open'] {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
    border: none;
  }
  .AccordionContent[data-state='closed'] {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  .AccordionTrigger[data-state='open'] {
    background-color: #fff;
    border: none;
  }

  .AccordionItem[data-state='open']{
    border-radius: 15px;
    border: 3px solid var(--gray, #ECEFF5);
  }
  
  .AccordionContentText {
    padding-block-end: 20px;
    padding-inline: 25px;
  }
  
  .AccordionChevron {
    color: var(--violet-10);
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }
  .AccordionTrigger[data-state='open'] > .AccordionChevron {
    transform: rotate(180deg);
  }
  
  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  
  @keyframes slideUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  

  /*============================================= checkbox==================== */



.CheckboxRoot {
    border: 3px solid var(--gray, #ECEFF5);
    background: var(--white, #FFF);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.CheckboxRoot:focus {
    border: 3px solid tomato;
}

.CheckboxIndicator {
  color: transparent;
  background: var(--white, #FFF);
  width: 35px;
  height: 35px;
  aspect-ratio: 1/1;
  border: 3px solid #FDCC06;
  border-radius: 12px;
  display: grid;
  place-items: center;
}
.CheckboxIndicator::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("/icons/interface 1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -9px;
}

.Label {
  width: 100%;
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.form__box{
    display: flex;
    align-items: center;
    gap: 20px;
}

.label__group{
  display: flex;
  justify-content: space-between;
}

.label__group span{
  display: block;
}

.label__price{
  color: var(--black, #262626);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}

.control__group{
  
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.constructor__cost{
  color: var(--black, #262626);
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.constructor__cost span{
  color: var(--black, #262626);
  font-family: Open Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.quantityButtons{
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity__increment{
  color: var(--gray-2, #939EB4);
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.quantityButton{
  color: #939EB4;
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #939EB4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.check__title{
  min-width: 100px;
}