.rules__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25ch), 1fr));
    gap: 40px;  
}

.list__item{
    list-style: none;
    max-width: 413px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item__image{
    display: flex;
    align-items: end;
    gap: 10px;
    position: relative;
}

.item__image::before{
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(236, 239, 245, 0.70);
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    z-index: -1;
}


.payment{
    margin-block-end: 100px;
}

.payment__title{
    color: var(--black, #262626);
    font-family: Open Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-block-end: 70px;
}